"*":
  "autocomplete-java":
    foldImports: false
  core:
    disabledPackages: [
      "nodejs-snippets"
      "javascript-snippets"
      "vim-mode"
    ]
  "disable-keybindings":
    allBundledPackages: true
    allCommunityPackages: true
    exceptBundledPackages: [
      "find-and-replace"
    ]
    exceptCommunityPackages: [
      "expand-selection-to-quotes"
      "toggle-quotes"
      "vim-mode"
    ]
    prefixKeys: [
      "ctrl-k"
      "ctrl-tab"
    ]
  editor:
    fontSize: 25
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "25266396-d8ac-3d4d-a0b2-c95906736ecf"
  racer: {}
  welcome:
    showOnStartup: false
